html, body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #444;
	background: #F7F7F7;
	margin: 0;
	height: 100%;
}

#index_header-div {
	display: block;
	text-align: center;
	padding: 10px 0;
	background: #184575;
	/* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #143F5C, #184D71);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #143F5C, #184D71);

  /* IE 10 */
  background: -ms-linear-gradient(top, #143F5C, #184D71);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #143F5C, #184D71);
}

.index_img {
	width: 30px;
	display: inline-block;
}

#index_h1 {
	font-size: 2.5em;
	margin: 0 1em;
	display: inline-block;
	font-weight: 400;
	color: #fff;
}

.index_container {
	margin: 0 auto;
	max-width: 900px;
	padding: 0 10px;
	border-left: 1px solid #E6E6E4;
	border-right: 1px solid #E6E6E4;
	background: #fff;
	height: 100%;
}

#index_glues_new {
	display: block;
}

#index_glues_new-h2 {
	margin: 0;
}

.index_glues_new-input {
	display: block;
	margin: 10px 0;
}

.index_glues_new-submit {
	background: #184D71;
	color: #fff;
	font-family: 'Lato';
	border: none;
	font-size: 16px;
	padding: 10px 20px;
	margin: -5px 0 10px;
}

.index_glues_div {
	display: block;
}

#index_glues_table {
	text-align: left;
}

.glues_index-singleDiv {
	display: inline-block;
	background: #eee;
	font-family: 'Source Code Pro', monospace;
}

.index_a {
	text-decoration: none;
	color: #222
}
